body{
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #ffffff;
text-transform: uppercase;

background-color: #000000;
background-image: url("../img/layer.jpg");
background-position: top center;
background-repeat: no-repeat;
}
.inner-page{
margin: 0;
padding: 0;
color: #000000;
background-color: #f8f5f2;
background-image: url("../img/pattern.jpg");
background-position: 0 0;
background-repeat: repeat;
}
.breadcrumbs{
list-style: none;
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
margin: 0;
padding: 0;
margin-bottom: 20px;
}
.breadcrumbs li{
	position: relative;
	margin-right: 42px;
}
.breadcrumbs li::after{
content: "";
position: absolute;
background-color: #000000;
width: 8px;
height: 8px;
top: 7px;
right: -25px;
transform: rotate(45deg);
}
.breadcrumbs li::last child{
	margin-right: 0;
}
.breadcrumbs h1{
font-size: 30px;
line-height: 42px;
}
.breadcrumbs a{
color: #000000;
font-size: 14px;
line-height: 20px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus{
text-decoration: underline;	
}
.breadcrumbs-current{
color: #aba9a7;	
}
.breadcrumbs-current::after{
display:none;	
}
.filters{
width: 180px;
}
.filter fieldset{
border: none;
margin: 0;
padding: 0;
border: none;
margin-bottom: 30px;
}
.filter fieldset:first-child {
	margin-bottom: 35px;
}
.filter legend{
font-size: 24px;
line-height: 30px;
margin-bottom: 26px;
}
.filter ul{
margin: 0;
padding: 0;
list-style: none;
margin-bottom: 30px;
line-height: 18px;
}
.filter-option{
margin-bottom: 19px;
padding-left: 45px;
}
.filter-option label{
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}
.filter-input:hover + label,
.filter-input:focus + label{
color:#663d15;
}
.filter-input-checkbox + label::before{
content: "";
position: absolute;
width: 16px;
height: 16px;
left: -42px;
top: 0;
border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after{
content: "";
position: absolute;
width: 12px;
height: 12px;
background-image: url("../img/cross.svg");
background-position: 0 0;
background-repeat: no-repeat;
top: 4px;
left: -38px;
}
.filter-input-radio + label::before{
	content: "";
	position: absolute;
width: 16px;
height: 16px;
left: -42px;
top: -1px;
border: 2px solid #000000;
border-radius: 50%;
}
.filter-input-radio:checked + label::after{
content: "";
position: absolute;
width: 8px;
height: 8px;
background-color: #000000;
border-radius: 50%;
top: 5px;
left: -36px;
}
.filter-input:disabled + label{
color: #000000;
opacity: 0.5;
}
.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;
  
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  display: block;
  
  text-transform: none;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: flex;
 
  margin: 15px;
  margin-top: 0;
}
.catalog-item-price b {
   width: 112px;
  padding: 13px 25px 11px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
vertical-align: middle;
  background-color: #e5e5e5;
}

.catalog-item-price .button{
line-height: 20px;
color: #ffffff;
display: block;
padding: 0 0;
width: 50px;
padding-top: 13px;
margin-right: 0px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}
.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}
.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  
  color: #ffffff;

  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
  
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}
/*barbershop-item CSS*/
.product-photo-preview {
display: flex;

 padding: 0;
 margin: 0;
 list-style: none;
 width: 500px;
}
.product-photos {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  }
.product-photo-preview li{
padding: 0;
margin: 0;
width: 140px;
 height: 149px;
 box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
 margin-top: 10px;
 margin-right: 20px;
 
}
.product-photo-preview li:nth-child(3n) {
  margin-right: 0;
}

.product-photo-full {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-description {
padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 29px;
}

.product-description p {
  width: 200px;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-info .product-text {
  margin-bottom: 35px;
}

.product-info {
  width: 390px;
  margin-top: 30px;
   
}
.product-info p {
  margin: 0;
}

.product-info h3 {
  margin: 0;
  padding: 0;
  margin-top: 65px;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 35px;
}
 
.product-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-info li {
  position: relative;

  padding-left: 23px;
}

.product-info li::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 2px;
  
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #000000;
}
/****price CSS***/
.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 24px;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;

  border: 2px solid #000000;
}

.inner-content .big-heading {
  display: flex;
  align-items: center;
  
  margin-top: 55px;
  margin-bottom: 65px;
  
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.big-heading::before,
.big-heading::after {
  content: "";
  
  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 2px;

  background: #000000;
}

.big-heading::before {
  margin-right: 25px;
}

.big-heading::after {
  margin-left: 25px;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}

.custom-list-1 li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.custom-table-1 {
  width: 100%;
}

.custom-table-1 td {
  width: 50%;
}

.custom-table-1 td:last-child {
  text-align: center;
}

.inner-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

.inner-columns > h2:first-child {
  width: 460px;
  margin-top: 0;
  margin-right: 460px;
  margin-right: calc(100% - 460px);
}

.short-text {
  padding-right: 80px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;

  color: #ffffff;

  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 45px;

  background-image:
    linear-gradient(to bottom, black, transparent),
    url("img/pattern-dark.jpg");
  background-size: 10px 40px, auto;
  background-position: 0 0;
  background-repeat: repeat-x, repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  max-width: 150px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}
