.body{
font-size: 14px;
line-height: 24px;	
font-family: "PT Sans Narrow", Arial, sans-serif;
}
.main-navigation{
margin: 0;
padding: 0;
font-size: 16px;
line-height: 20px;
color: #ffffff;
background-color: #000000;
background-position: 0 0;
background-repeat: repeat;
}
.main-header{
list-style: none;
}
.main-header a{
text-decoration: none;
font-size: 16px;
line-height: 20px;
color: #ffffff;}
.container{
margin: 0;
padding: 0;
color: #000000;
background-color: #f8f5f2;
background-image: url("../img/pattern.jpg");
background-position: 0 0;
background-repeat: repeat;	
}
.product-name{
font-size: 30px;
line-height: 42px;	
}
.product-photo-review {
list-style: none;	
}
.product-photo-preview li{
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-photo-full{
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-article{
color: #aeaeae;
text-align: right;
}
.product-photos{
background-color: transparent;
border: none;
}


.main-footer{
	color: #ffffff;
	background-color: #212121;
	background-image: url("../img/footer.jpg");
	background-position: 0 0;
    background-repeat: repeat;
}
.user-login input{
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}
.footer-contacts a{
	color: #ffffff;
	text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus{
	text-decoration: none;
}
.friends{
	text-align: center;
}
.friends ul{
	list-style: none;
}
.social-button{
	color: #ffffff;
}
.copyright	
{text-align: center;
background-color: transparent;
}
.copyright a:hover,
.copyright a:focus{
	color: #000000;
	background-color: #ffffff;
}
form{
color: #000000;
background-color: #f8f3f8;
background-image: url("../img/pattern.jpg");
background-position: 0 0;
background-repeat: repeat;
}
form.h2{
	font-size: 30px;
line-height: 42px;
}

.appointment-item input:focus{
	border-color: #663d15;
}

form input{
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}
.restore{
	color: #000000;
    text-decoration: underline;
	background-color: transparent;
}
.restore:hover{
	color: #ffffff;
	text-decoration: underline;
	background-color: #000000;
}